<div class="main portfolio">
	<div class="container">
		<div class="banner">
			<ul>
				<li><%= image_tag "bass.PNG" %></li>
				<li><%= image_tag "headlines.PNG" %></li>
				<li><%= image_tag "move.PNG" %></li>
				<li><%= image_tag "redeye.PNG" %></li>
				<li><%= image_tag "shutterbug.PNG" %></li>
			</ul>
		</div>
	</div>
</div>